.brd {
    border: 4px double black; 
    padding: 10px; 
   }

html{
    height: 100%;
    width: 100%;
}
body
{
    height: 100%;
    width: 100%; 
}
.main{
    height: 100%;
    width: 100%;  
}

.b-container{
    
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:max-content;
    display: block;
    padding:10px;
    background-color: white;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}








.dropbtn {
    cursor: pointer;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #004411;}

.show {display: block;}